<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>kn</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="/css/reset.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
        <script src="/js/flashMessageDisplay.js" defer></script>
        {% endblock %}
    </head>
<body>
        {% block header %}
<header class="headerclass">
    <nav class="navbar navbar-expand-lg" style="background-color: #fff;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><svg version="1.1" id="Calque_1" x="0px" y="0px" height="1.5em" viewBox="0 0 780 211" style="enable-background:new 0 0 780 211" xml:space="preserve"><g id="UI-KIT"><g id="UI_x2F_Logo" transform="translate(-330.000000, -710.000000)"><g id="Fichier-18" transform="translate(330.000000, 710.000000)"><path id="path_k_blue" class="st0" fill="#163262" d="M175.5,0c-4.9,0-9.6,1.9-13.1,5.3s-5.4,8-5.4,12.9v116.6c0,10.1,8.3,18.2,18.5,18.2s18.5-8.2,18.5-18.2V18.2C194,8.1,185.7,0,175.5,0L175.5,0z"></path><path id="path_n_blue" class="st0" fill="#163262" d="M366.7,0L366.7,0c-4.9,0-9.5,1.9-13,5.3c-3.4,3.4-5.4,8.1-5.4,12.9v69.5L313.9,49c-3.2-4.8-8.4-7.8-14.1-8.1h-0.8h-0.5c-4.5,0-8.8,1.6-12.2,4.6l0,0c-4.7,4.1-6.9,10.4-5.9,16.5v73.1c0,10.1,8.2,18.2,18.3,18.2l0,0c10.1,0,18.3-8.2,18.3-18.2v-27.8l36.1,40.5c3.2,3.6,7.8,5.8,12.6,6.1s9.6-1.4,13.3-4.6l0,0c3.9-3.4,6.1-8.2,6.2-13.4c0-0.2,0-0.4,0-0.5V18.3c0-4.8-1.9-9.5-5.4-12.9S371.5,0,366.7,0L366.7,0z"></path><path id="path_p_blue" class="st0" fill="#163262" d="M455,41c-8.8,0-17.5,2-25.4,5.9c-3.4-3.8-8.3-6-13.4-5.9l0,0c-10,0-18.2,8.2-18.2,18.2v133.6c0,4.8,1.9,9.5,5.3,12.9c3.4,3.4,8,5.3,12.9,5.3l0,0c10.1,0,18.2-8.2,18.2-18.2v-41.5c21.3,8.3,45.6,3,61.5-13.4c15.9-16.5,20.5-40.9,11.6-62C498.6,54.7,477.9,41,455,41L455,41z M455,118.7c-11.4,0-20.6-9.2-20.6-20.6c0-11.4,9.2-20.6,20.6-20.6c11.4,0,20.6,9.2,20.6,20.6C475.6,109.4,466.3,118.7,455,118.7z"></path><path id="Path_2_" class="st0" fill="#FF2F2D" d="M201.1,79.2L201.1,79.2c-3.6,3.2-5.8,7.8-6.1,12.6c-0.3,4.9,1.4,9.6,4.6,13.3l37.6,42.8c6.7,7.6,18.2,8.3,25.7,1.6l0,0c3.6-3.2,5.8-7.8,6.1-12.6c0.3-4.9-1.3-9.6-4.5-13.3L239,94.6L262.9,73c7.5-6.8,8.1-18.3,1.4-25.9l0,0c-6.7-7.5-18.2-8.2-25.7-1.4L201.1,79.2z"></path><radialGradient id="Path_10_" cx="-555.5682" cy="635.6326" r="0.9707" gradientTransform="matrix(44 0 0 -44 24494.9961 28036.5391)" gradientUnits="userSpaceOnUse"><stop offset="1.000000e-02" style="stop-color:#FF2F2D"></stop><stop offset="0.27" style="stop-color:#FF302D;stop-opacity:0.99"></stop><stop offset="0.47" style="stop-color:#FF352D;stop-opacity:0.95"></stop><stop offset="0.63" style="stop-color:#FF3C2D;stop-opacity:0.89"></stop><stop offset="0.79" style="stop-color:#FF462D;stop-opacity:0.8"></stop><stop offset="0.79" style="stop-color:#FF462D;stop-opacity:0.8"></stop></radialGradient><path id="Path_3_" class="st2" fill="url(#Path_10_)" d="M36.6,94.5c9.6,4.9,23.4-2.7,30.8-17.1s5.6-30-4-34.9S40,45.2,32.6,59.6S27,89.5,36.6,94.5z"></path><radialGradient id="Path_11_" cx="-545.74" cy="628.137" r="1.0479" gradientTransform="matrix(25 0 0 -25 13655.999 15777.0381)" gradientUnits="userSpaceOnUse"><stop offset="1.000000e-02" style="stop-color:#FF2F2D"></stop><stop offset="0.27" style="stop-color:#FF302D;stop-opacity:0.99"></stop><stop offset="0.47" style="stop-color:#FF352D;stop-opacity:0.95"></stop><stop offset="0.63" style="stop-color:#FF3C2D;stop-opacity:0.89"></stop><stop offset="0.79" style="stop-color:#FF462D;stop-opacity:0.8"></stop><stop offset="0.79" style="stop-color:#FF462D;stop-opacity:0.8"></stop></radialGradient><path id="Path_4_" class="st3" fill="url(#Path_11_)" d="M6.8,90.6c6.1,2.2,13.7-3.7,16.8-13.1s0.7-18.8-5.4-21c-6.1-2.2-13.7,3.7-16.8,13.1S0.6,88.4,6.8,90.6z"></path><radialGradient id="Path_12_" cx="-551.7647" cy="632.7353" r="1.0083" gradientTransform="matrix(34 0 0 -34 18857.5137 21642.0059)" gradientUnits="userSpaceOnUse"><stop offset="1.000000e-02" style="stop-color:#FF2F2D"></stop><stop offset="0.27" style="stop-color:#FF302D;stop-opacity:0.99"></stop><stop offset="0.47" style="stop-color:#FF352D;stop-opacity:0.95"></stop><stop offset="0.63" style="stop-color:#FF3C2D;stop-opacity:0.89"></stop><stop offset="0.79" style="stop-color:#FF462D;stop-opacity:0.8"></stop><stop offset="0.79" style="stop-color:#FF462D;stop-opacity:0.8"></stop></radialGradient><path id="Path_5_" class="st4" fill="url(#Path_12_)" d="M112.5,115.2c-5-5.5-15.7-3.8-24,3.9s-10.9,18.2-6,23.7c5,5.5,15.7,3.8,24-3.8C114.8,131.3,117.5,120.7,112.5,115.2z"></path><radialGradient id="Path_13_" cx="-565.0696" cy="630.6675" r="0.9559" gradientTransform="matrix(36.1932 -29.9842 -29.9842 -36.1932 39446.1797 5975.0859)" gradientUnits="userSpaceOnUse"><stop offset="1.000000e-02" style="stop-color:#FF2F2D"></stop><stop offset="0.27" style="stop-color:#FF302D;stop-opacity:0.99"></stop><stop offset="0.47" style="stop-color:#FF352D;stop-opacity:0.95"></stop><stop offset="0.63" style="stop-color:#FF3C2D;stop-opacity:0.89"></stop><stop offset="0.79" style="stop-color:#FF462D;stop-opacity:0.8"></stop><stop offset="0.79" style="stop-color:#FF462D;stop-opacity:0.8"></stop></radialGradient><path id="Path_6_" class="st5" fill="url(#Path_13_)" d="M99.9,104.6c9.8-13,10.8-28.9,2.3-35.6s-23.3-1.5-33.1,11.5s-10.8,28.9-2.3,35.6S90.2,117.6,99.9,104.6z"></path><radialGradient id="Path_14_" cx="-557.0514" cy="636.8974" r="0.8218" gradientTransform="matrix(50.0002 0 0 -50 27893.4688 31971.0059)" gradientUnits="userSpaceOnUse"><stop offset="0" style="stop-color:#FF2F2D"></stop><stop offset="0.27" style="stop-color:#FF302D;stop-opacity:0.99"></stop><stop offset="0.47" style="stop-color:#FF352D;stop-opacity:0.95"></stop><stop offset="0.63" style="stop-color:#FF3C2D;stop-opacity:0.89"></stop><stop offset="0.79" style="stop-color:#FF462D;stop-opacity:0.8"></stop><stop offset="1" style="stop-color:#FF462D;stop-opacity:0.8"></stop></radialGradient><path id="Path_7_" class="st5" fill="url(#Path_14_)" d="M40.2,124.6c-10.8-5.3-21-25.5-33.8-17.9c-10.9,6.5-4.3,24.8,12.3,40.1s52.4,7.1,52.3-8.4C70.9,124.6,50.4,129.6,40.2,124.6z"></path><g id="Group" transform="translate(535.000000, 42.000000)"><polygon id="Path_8_" class="st5" fill="#A4B9CC" points="0.2,0 10.6,0 10.6,111 0.2,111 				"></polygon><path id="Shape_1_" class="st5" fill="#A4B9CC" d="M93.8,34.2V111h-10V95.8c-3,5-7.2,9.1-12.4,11.8c-5.4,2.8-11.3,4.2-17.4,4.1c-6.9,0.1-13.6-1.6-19.6-5c-5.8-3.2-10.6-8.1-13.8-13.9c-3.4-6.2-5.2-13.2-5-20.3c-0.1-7.1,1.6-14.1,5-20.3c3.2-5.8,8-10.6,13.8-13.8c6-3.3,12.8-5,19.6-4.9c5.9-0.1,11.7,1.2,16.9,3.9c5.1,2.6,9.3,6.5,12.4,11.3V34.2H93.8z M69.6,98.8c4.4-2.5,7.9-6.2,10.2-10.6c2.6-4.8,3.8-10.2,3.7-15.6c0.1-5.4-1.2-10.8-3.7-15.6c-2.3-4.4-5.9-8.1-10.2-10.6c-9.1-5-20.1-5-29.3,0C36,48.9,32.4,52.6,30.1,57c-5,9.8-5,21.4,0,31.2c2.3,4.4,5.9,8.1,10.3,10.6C49.5,103.8,60.5,103.8,69.6,98.8L69.6,98.8z"></path><path id="Shape_2_" class="st5" fill="#A4B9CC" d="M161.5,38.5c5.8,3.2,10.6,8,13.8,13.8c3.4,6.2,5.1,13.2,5,20.3c0.1,7.1-1.6,14.1-5,20.3c-3.2,5.8-8,10.6-13.8,13.9c-6,3.3-12.8,5.1-19.7,5c-6,0.1-12-1.3-17.3-4.1c-5.1-2.7-9.4-6.8-12.4-11.8V111h-9.9V0h10.4v48.8c3-4.8,7.3-8.7,12.4-11.3c5.2-2.6,11-4,16.9-3.9C148.7,33.5,155.5,35.2,161.5,38.5L161.5,38.5z M155.8,98.8c4.4-2.5,8-6.1,10.3-10.6c2.6-4.8,3.8-10.2,3.7-15.6c0.1-5.4-1.2-10.8-3.7-15.6c-2.4-4.4-5.9-8.1-10.3-10.6c-9.2-5-20.2-5-29.4,0c-4.3,2.5-7.9,6.2-10.2,10.6c-5,9.8-5,21.4,0,31.2c2.3,4.4,5.9,8.1,10.2,10.6C135.6,103.8,146.6,103.8,155.8,98.8L155.8,98.8z"></path><path id="Path_9_" class="st5" fill="#A4B9CC" d="M195,109c-4.9-1.4-9.4-3.7-13.4-6.8l4.6-8.2c3.7,2.8,7.8,4.9,12.1,6.2c4.9,1.6,10.1,2.4,15.2,2.4c7,0,12.2-1.1,15.6-3.3c3.2-2,5.2-5.5,5-9.3c0.2-2.5-0.9-5-2.7-6.7c-2.1-1.7-4.4-2.9-7-3.6c-3.7-1-7.5-1.8-11.3-2.4c-5.1-0.9-10.1-2.1-15.1-3.6c-3.7-1.2-7.1-3.3-9.7-6.2c-2.7-2.9-4-7-4-12.1c-0.1-6.2,2.9-12.1,8.1-15.7c5.4-4.1,12.8-6.1,22.4-6.1c5,0,10.1,0.7,14.9,2c4.4,1,8.5,2.8,12.4,5.2l-4.6,8.4c-6.7-4.5-14.6-6.8-22.6-6.6c-6.7,0-11.7,1.2-15,3.5c-3.2,2-5.1,5.5-5,9.2c-0.1,2.6,0.9,5.2,2.9,7c2.1,1.8,4.5,3.2,7.2,3.9c3.9,1.1,7.8,1.9,11.7,2.6c5,0.9,9.9,2.1,14.8,3.5c3.6,1.2,6.8,3.2,9.3,6c2.6,2.9,4,6.7,4,11.7c0.1,6.4-3,12.5-8.4,16c-5.6,3.9-13.4,5.9-23.3,5.9C206.8,111.7,200.8,110.8,195,109L195,109z"></path></g></g></g></g></svg></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_task_home') }}">Tâches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Bonus</a>
            </li>
            <div class="collapse navbar-collapse" id="lognavbar">
              {% if is_granted('ROLE_USER') %}
                <li>
                  <button type="button" class="btn btn-outline-secondary" onclick="window.location.href = '{{ path('app_logout') }}';">Logout</button>
                </li>
              {% else %}
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary" onclick="window.location.href = '{{ path('app_login') }}';">Login</button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-primary" onclick="window.location.href = '{{ path('app_signin') }}';">Signin</button>
                </li>
              {% endif %}
            </div>
          </ul>
        </div>
      </div>
    </nav>
    {% for type, message in app.flashes %}
    <div class="alert alert-{{ type }} flash-message">
        {{ message | join('. ')}}
    </div>
{% endfor %}     
</header>
        {% endblock %}

        {% block body %}
                {% block task %} {% endblock %}
                {% block log %} {% endblock %}  
                {% block index %} {% endblock %}
        {% endblock %}
</body>
</html>
